* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-primary: #1476C1;
    --color-bg1: #f8f8f8;
    --color-bg2: #f1f3ff;
    --color-lightblue: #cfd4ed;
    --o-transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

/* ======== global style ======== */
body {
    font-family: "Poppins", sans-serif;
    color: black;
    background: var(--color-bg1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
}

h1,
h2,
h3,
h4,
p,
a {
    color: black;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    /* text-transform: uppercase; */
    line-height: 1.5em;
}

h3{
    font-size: 1.1rem;
}

p {
    margin: 1rem 0;
    line-height: 2rem;
}

.span_idn {
    color: #1476C1;
}

img {
    width: 100%;
    display: block;
    object-fit: fill;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* ======== end global style ======== */



/* ======== navbar ======== */
nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navbar-list {
    background: #f8f8f845;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.navbar-item {
    margin: 0 20px;
}

.navbar-item:last-child {
    margin-right: 50px;
    margin-left: 15px;

}

.toggle {
    margin: 0 20px;
    display: none;
}

.navbar-link {
    border-bottom: 1.5px solid transparent;
    font-weight: 400;
    transition: var(--o-transition);
}

.navbar-link:hover {
    border-bottom: 1.1px solid var(--color-primary);
}

.logo {
    font-size: 1.3rem;
    font-weight: 400;
    margin-right: auto;
    margin-left: 50px;
    cursor: pointer;
}

.button_mulai_container {
    display: flex;
    justify-content: center;
}

.navbar-button {
    background-color: var(--color-primary);
    color: var(--color-bg2);
    border-radius: 1.2rem;
    border: 1px solid transparent;
    padding: 0.8rem 1.4rem;
    transition: var(--o-transition);
}

.navbar-button:hover {
    color: black;
    background: transparent;
    border-color: var(--color-primary);
}

/* ======== end navbar ======== */

/* ======== header ======== */
header {
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
}

/* .container_header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 13% 10% 4% 10%;
    gap: 10%;
    z-index: 2;
} */

.header_title {
    font-size: 6rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;
}

.header_text {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
}

.btn_mulai {
    font-size: 1.0rem;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    margin-top: 2rem;
    padding-inline: 3rem;
    padding-block: 0.6rem;
    border-radius: 25px;
    transition: var(--o-transition);
}

.btn_mulai:hover {
    color: white;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transform: scale(1.2);
    box-shadow: 0 0 1.5rem 0.1rem #1476C1;
}

/* 
.image_idn_bogor {
    width: 400px;
    height: 250px;
    flex: none;
    order: 1;
    width: 500px;
    flex-grow: 0;
    mix-blend-mode: luminosity;
} */

/* .image_idn_bogor:hover {
    transform: scale(1.1);
    mix-blend-mode: normal;
    transition: var(--o-transition);
    box-shadow: 9px 7px 13px var(--color-primary);
} */

/* ======== end header ======== */


/* ======== benefit ======== */
.title{
    font-weight: 700;
}

.benefit {
    margin-top: 5rem;
    padding-top: 1rem;
}

.benefit_header {
    text-align: center;
    font-size: 1.3rem;
}

.benefit_container {
    display: grid;
    gap: 5rem;
    margin-top: 4rem;
}

.benefit_row{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    line-height: 1.6rem;
}

.benefit_title{
    font-size: 1.4rem;
    font-weight: light;
    font-style: italic;
}

.uil{
    background-color: var(--color-lightblue);
    color: var(--color-primary);
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
    border-radius: 30%;
    font-size: large;
    margin-right: 0.6rem;
}

.benefit_img{
    width: auto;
    height: auto;
    object-fit: cover;
    transition: var(--o-transition);
}

.benefit_img img{
    border-radius: 10px;
    list-style: none;
    mix-blend-mode: luminosity;
}

.benefit_img:hover{
    transform: scale(1.1);
    border-radius: 10px;
    mix-blend-mode: normal;
}
/* ======== end benefit ======== */

/* ======== why us ======== */
.whyus{
    margin-top: 6rem;
    padding-bottom: 6rem;
    /* background-color: var(--color-lightblue); */
}

.whyus_header{
    text-align: center;
    font-size: 1.5rem;
}

.whyus_list{
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}

.whyus_item{
    border: 1px solid var(--color-primary);
    padding: 1.5rem;
    border-radius: 0.8rem;
    background-color: white;
    transition: var(--o-transition);
    margin: 1rem 0;
    line-height: 2rem;
    /* text-align: center; */
}

.whyus_item:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1.5rem 0.1rem #1476C1;
}

.whyus_text p{
    font-weight: light;
    font-style: italic;
}

.whyus_text h3{
    margin-top: 1rem;
}
/* ======== end why us ======== */

/* ======== about us ======== */
aside{
    background-color: var(--color-bg1);
    justify-content: center;
    padding: 100px;
}

.aboutus_header{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

.aboutus_card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    transition: var(--o-transition);
    border: 1px solid var(--color-primary);
    background-color: white;
}

.aboutus_card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 1.4rem 0.09rem #1476C1
}

.aboutus_img{
    border-radius: 10px;
}

.info h3{
    font-size: 30px;
    margin-bottom: 1rem;
}

.socialmedia{
    margin-top: 1rem;
}
/* ======== end about us ======== */


/* ^^^^^^^^ MEDIA QUERY ^^^^^^^^ */

@media screen and (max-width:1355px) {
    .header_text {
        font-size: 1rem;
    }
}

@media screen and (max-width:912px) {

    header {
        height: 60%;
    }

    .navbar-list {
        flex-wrap: wrap;
    }

    .toggle {
        display: block;
        width: 30px;
    }

    .navbar-item {
        display: none;
        width: 100%;
        text-align: left;
        margin: 20px;
    }

    .navbar-button {
        display: block;
    }

    .container_header_container {
        flex-direction: column;
    }

    .logo {
        margin-left: 23px;
    }
}

@media screen and (max-width:768px) {
    .benefit_container{
        grid-template-columns: repeat(1, 2fr);
    }
    .benefit_row{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 1rem;
    }
    .benefit_title{
        margin-bottom: 2rem;
        line-height: 2.6rem;
    }

    .whyus_header{
        margin-top: -30px;
    }

    .whyus_list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) {
    .benefit_row{
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .whyus_list{
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .whyus_header{
        margin-top: 30px;
    }

    .header_title{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:390px) {

    .toggle {
        margin-right: 17px;
    }

    .logo {
        font-size: 0.9rem;
        margin-right: auto;
        margin-left: 17px;
    }

    img {
        width: 100%;
        display: block;
        object-fit: cover;
    }
}